body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background: #364f6b !important;
}
.search-field {
  margin-top: 30px;
  padding: 5px;
}
.card{
  margin: 10px 15px;
  padding: 30px 0px;
}
.card-title{
  font-size: 19px;
    margin-top: 20px;
}
.card-body{
  padding: 5px !important;
}
.card-body h2{
  font-size: 24px;
}
.card img{
  width: 150px;
  height: 150px;
  margin: auto;
}

.card:hover img{
  transition: all .3s linear;
  transform: scale(110%);
}
.fas{
  color: rgb(255, 221, 28);
}

#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid cyan;
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  background: #fff;
  width: 378px;
  /* border: 1px solid green; */
  padding: 10px;
  /* box-shadow: 10px 10px 20px gray; */
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}

@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
